//- variables
simpleModel  = "/examples/simple-atoms-model/simple-atoms-model.html"
complexModel = "/examples/complex-atoms-model/complex-atoms-model.html"
folderName   = "/imports/legacy-mw-content/"

nestedCmlToJsonHash = {}
- for (cmlFile in cmlToJsonHash) {
-   splitCml = /([^\/]*)\/(.*)/.exec(cmlFile);
-   topFolder = splitCml[1];
-   cml = splitCml[2];
-   if (!nestedCmlToJsonHash[topFolder]){
-     nestedCmlToJsonHash[topFolder] = {}
-   }
-   nestedCmlToJsonHash[topFolder][cml] = cmlToJsonHash[cmlFile]
- }

html
  head
    title Legacy MML runnables
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,400,300,700&amp;subset=latin,greek,latin-ext', rel='stylesheet', type='text/css')
    link(href='../../index.css', rel='stylesheet', type='text/css')
    style.
      h3 {
        margin-bottom: -15px;
        margin-left: 5px;
      }
      .item-list ul li {
        padding: 5px;
      }
      .horiz li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
      }
      .horiz span {
        float: left;
        width: 190px;
      }
  body
    div(id='header')
      a(href='http://www.concord.org/', id='logo')
        img(src='../../resources/layout/cc-logo.png')
      h1 Imported CML Files and the conversions of their models
    each cmlFiles, topFolder in nestedCmlToJsonHash
      h3 #{topFolder}
      div(class='item-list')
        ul
          each jsons, cml in cmlFiles
            li
              a(class="convert-to-mw", href=topFolder+"/"+cml) #{cml}
              ul
                each json in jsons
                  modelName = /[^\/]*$/.exec(json)[0];
                  li
                    ul(class="horiz")
                      li
                        a(href=folderName + json)
                          span
                            i #{modelName}
                      li
                        a(href=simpleModel + "#" + folderName + json) Simple Model
                      li
                        a(href=complexModel + "#" + folderName + json) Complex Model
    script(type="text/javascript").
      var mw = "http://mw2.concord.org/tmp.jnlp?address=",
          mwLinks = document.getElementsByClassName("convert-to-mw"),
          href = document.location.href,
          i, mwLink, path, newhref;
      for (i = 0; i < mwLinks.length; i++) {
        mwLink = mwLinks[i];
        path = mwLink.href;
        newhref = mw + path;
        mwLink.href = newhref;
      }
